

:root{
  --blue1: #26a2ff;
  --blue2: #1e9eff;
  --blue3: #169bff;
  --blue4: #0e97ff;
  --blue5: #0694ff;
  --blue6: #0090fc;
--darkBlue: #001b30;
}



body {
  padding: 0px;
  margin: 0px;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position:relative;

}

#header {
  display:flex;
  flex-grow:.7;
  justify-content:center;
  background-color: #003560;
  color: gray;
}

#newGameForm {
  width: 80vw;
  height: 60vh;
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
  display:flex;
  flex-direction:column;
  align-content:center;
  
}

#formContent {
  display:flex;
  flex-direction: row;
  flex-grow:1;
}

#newGameFormHeader{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}

#newGameTitle {
  align-self: center;
}

.formContentHalf {
  display:flex;
  flex-direction: column;
  width:100%;
  align-items:center;
}

#formFooter {
  flex-grow:.7;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

#modeSelectLabel {
  display: flex;
  justify-content: center;
}

.modeSelectContainer{
  display:flex;
  justify-content:space-between;
  width: 10rem;  
}

#beginButton {
  margin:auto;
}

.hidden {
  display:none;
}

.gameBoardGrid{
  display:grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.onTheBoard{
  /* Every space on gameboard or scoreboard */

  width: 20px;
  height: 20px;

}

.boardLegend{
/* The 1, 2, 3 and A, B, C squares at the top and left of the chart */
}

.boardSpace{
  /* The actual spaces in play */
}

.empty1 {
  background-color: var(--blue1);
}
.empty2 {
  background-color: var(--blue2);
}
.empty3 {
  background-color: var(--blue3);
}
.empty4 {
  background-color: var(--blue4);
}
.empty5 {
  background-color: var(--blue5);
}
.empty6 {
  background-color: var(--blue6);
}





.occupied {
background-color: rgb(180, 180, 180);
}

.hit{

}