
.hello {
  color: red;
  background: url("./images/dice.png");
}


body {
  padding: 0px;
  margin: 0px;
  background-color: #003560;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position:relative;

}

#header {
  display:flex;
  flex-grow:.7;
  justify-content:center;
  background-color: #003560;
  color: gray;
}

#newGameForm {
  width: 80vw;
  height: 60vh;
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
  display:flex;
  flex-direction:column;
  align-content:center;
  
}

#formContent {
  display:flex;
  flex-direction: row;
  flex-grow:1;
}

#newGameFormHeader{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}

#newGameTitle {
  align-self: center;
}

.formContentHalf {
  display:flex;
  flex-direction: column;
  width:100%;
}

#formFooter {
  flex-grow:.7;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

#modeSelectLabel {
  display: flex;
  justify-content: center;
}

.modeSelectContainer{
  display:flex;
  justify-content:space-between;
  width: 10rem;  
}

#beginButton {
  margin:auto;
}